body {
	background-image: url(img/cork-board.jpg);
	background-repeat:repeat;
	background-attachment: fixed;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	text-align:center;
	font-family: 'Passero One', cursive;
  	font-size: 80px;
}

p {
	text-align: center;
  	font-size: 25px;
  	
}

#form {
	display: block;
	margin: 0 auto;
	max-width: 450px;
}

.sticky {
	background-color: rgb(255,240,70);
	height: 200px;
	padding: 10px;
	width: 200px;
	display: block;
	float: left;
	margin: 10px;
}