body {
	background-image: url(img/cork-board.jpg);
	background-repeat:repeat;
	background-attachment: fixed;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
}

h1 {
	text-align:center;
	font-family: 'Passero One', cursive;
  	font-size: 80px;
}

p {
	text-align: center;
  	font-size: 15px;
  	font-style: bold;
  	
}

header {
	background-color: white;
	opacity: .75;
	padding: 1px;
	margin-top: -40px;
}

#form {
	display: block;
	margin: -40px auto 0 auto;
	max-width: 450px;
	padding-bottom: 30px;
}

.sticky {
	background-color: rgb(255,240,70);
	height: 200px;
	padding: 10px;
	width: 200px;
	display: block;
	float: left;
	margin: 10px;
}